@font-face {
    font-family: "Inter";
    src: url("../assets/Inter.ttf") format("truetype");
}

@font-face {
    font-family: "Input Mono";
    src: url("../assets/InputMono-Regular.ttf") format("truetype");
}
