<div class="pn2 bt font-ui">
  <p class="muted">
    Stay in the loop
  </p>
  <div class="font-ui">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/s7manth"
      method="post"
      target="popupwindow"
      onsubmit="window.open(`https://buttondown.email/s7manth`, 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <input type="email" name="email" id="bd-email" placeholder="Enter your email" />
      <input type="submit" value="Sign up" />
    </form>
  </div>
</div>
