<div class="pn2 bt">
<p>
  <a href="/subscribe" class="muted internal-link font-ui">
    Receive my updates
  </a>
</p>
<p>
Follow me via email, RSS, Twitter, and other options
</p>
<div class="mn2 small font-ui">
<form
  action="https://buttondown.email/api/emails/embed-subscribe/s7manth"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/s7manth', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" id="bd-email" placeholder="Enter your email" />
  <input type="submit" value="Sign up" />
</form>
</div>
</div>

