/* Common spacing aliases */
$directions: (
    "a": "",
    "t": "-top",
    "b": "-bottom",
    "r": "-right",
    "l": "-left"
);

/* Gap */
@for $i from 1 through 4 {
    .gap#{$i} {
        gap: #{$i}rem;
    }
}

@each $alias, $elaborate in $directions {
    .p#{$alias} {
        padding#{$elaborate}: 1rem;
    }

    .pp#{$alias} {
        padding#{$elaborate}: 2rem;
    }
    
    .s#{$alias} {
        margin#{$elaborate}: 1rem;
    }

    .ss#{$alias} {
        margin#{$elaborate}: 2rem;
    }
    
    .p#{$alias}0 {
        padding#{$elaborate}: 0;
    }
    
    .m#{$alias}0 {
        margin#{$elaborate}: 0;
    }
}

/* Padding */
@for $i from 1 through 4 {
    .pn#{$i} {
        padding-top: #{2 * $i}rem;
    }
}

@for $i from 1 through 4 {
    .ps#{$i} {
        padding-bottom: #{2 * $i}rem;
    }
}

/* Margin */
@for $i from 1 through 4 {
    .mn#{$i} {
        margin-top: #{2 * $i}rem;
    }
}

@for $i from 1 through 4 {
    .ms#{$i} {
        margin-bottom: #{2 * $i}rem;
    }
}
