---
layout: default
---

<article>
    <content>
      <h1>{{ page.title }}</h1>
      <div class="muted ms2 bb ps2">
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        {% if page.type != 'pages' %}
        Published on {{ page.publish_date | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
      </div>
      {{ content }}
    </content>
</article>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
